*, body, html {
	margin:0;
	padding: 0;
	font: 1em "Open Sans",sans-serif;
}

body{
	background-color:#eee;
}
h1{
	text-align:center;
	padding: 16px;
}

.mmenu{
	width: 100%;
	background-color: #333;
	color: #fff;
	height: 60px; 
}

.mmenu #logo{
	float: left;
	height:30px;
	padding:15px 30px;
	font-size:1.2em;
	line-height: 30px; 
}
.mmenu > ul {
margin:0;
padding:0;
float: left;
list-style-type: none;
}
.mmenu >ul >li {
	float:left;
}
.mmenu-item{
 display: inline-block;
 padding: 15px 20px;
 line-height: 30px;
 color: #fff;
 text-decoration: none;
}
.mmenu-item:hover {
 background-color: #ff0055;
}
.menu{
	position: relative;
	float:left;
	left:-260px;
	width:260px;
	height:250vh;
	background-color: crimson;
	color:white;
	z-index:999;
	transition:all 2.5s;
}
.menu-open{
	left:0px;
	background-color:midnightblue;
}

.close-btn {
	display:block;
	height:60px;
	font-size:30px;
	float: right;
	padding: 0 10px;
	background-color:crimson;
	cursor: pointer;
	position: absolute;
	left:260px;
	line-height: 60px;
	transition:all 2.5s;
}
.open-btn {
	background-color: midnightblue;

}

#father > li{
	list-style-type: none;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	border-bottom: 1px solid
	darkgray;
}li:hover{
	background-color: darkgray;
	color:black;
}



#son{
	display:none;
	width:100% ;
}

#son > li{
	background-color: darkgray;
	color:black;	
}#son >li:hover{
	background-color: crimson;
}

.content{
	position:relative;
	background-color: #eee;
	box-sizing: border-box;
}

body {
        margin: 0;
        padding: 0;
    }
    #slideshow {
        position: relative;
        overflow: hidden;
        height: 100px;
    }
    #animate-area { 
        height: 100%;
        width: 2538px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('http://s30.postimg.org/qnju89rkx/banner.png');

        -webkit-animation: animatedBackground 40s linear infinite;
    }
    /* Put your css in here */
    @keyframes animatedBackground {
        from { left: 0; }
        to { left: -1269px; }
    }
    @-webkit-keyframes animatedBackground {
        from { left: 0; }
        to { left: -1269px; }
    }
    @-moz-keyframes animatedBackground {
        from { left: 0; }
        to { left: -1269px; }
    }

/*.content{
	width: 70vw;
	left:0px;
}*/



